"""{{ pascal_plural }} repository."""

from pydantic import UUID4
from sqlalchemy.orm import Session

from marvin.db.models.platform import {{ pascal_plural }}
from marvin.repos.repository_generic import GroupRepositoryGeneric
from marvin.schemas.platform import {{ pascal_singular }}Read


class {{ pascal_plural }}Repository(GroupRepositoryGeneric[{{ pascal_singular }}Read, {{ pascal_plural }}]):
    def __init__(self, session: Session, group_id: UUID4 | None) -> None:
        super().__init__(
            session=session,
            primary_key="id",
            sql_model={{ pascal_plural }},
            schema={{ pascal_singular }}Read,
            group_id=group_id,
        )
